<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<div class="modal-content">
  <div class="modal-header">
    <button type="button" ng-click="$dismiss()" class="close">&times;</button>
  </div>
  <div class="modal-body">
    <div class="container modalStyle">
      <full-coupon coupon-id="$mCtrl.ID"> </full-coupon>
    </div>
  </div>
  <div class="modal-footer">
    <span><button type="button" class="btn btn-default glyphicon glyphicon-arrow-left modalL" ng-click="$mCtrl.previousCoupon()"></button></span>
    <!--<span><button type="button" class="btn btn-default moreInfoC colorChange" ng-click="$mCtrl.cancel()">Close</button></span>-->
    <span><button type="button" class="btn btn-default glyphicon glyphicon-arrow-right modalR" ng-click="$mCtrl.nextCoupon()"></button></span>

  </div>
</div>

</body>
</html>
