#areabox{
  height: auto;

}
.coupon {
  border: 3px dashed #bcbcbc;
  border-radius: 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
  "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  background-color: Linen;
  max-width: 100%;
  margin-bottom: 5%;
}

.coupon #head {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  min-height: 20px;
  max-height: 60px;
  padding: 0;
  margin: 0;
}

.coupon #footer {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#title .visible-xs {
  font-size: 10px;
}

.coupon #title img {
  height: 50px;
  width: 50px;
  overflow: hidden;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 0;
}

@media screen and (max-width: 500px) {
  .coupon #title img {
    height: 24px;
  }
}

.coupon #title span {
  float: right;
  width: 83%;
  margin-top: 17px;
  font-weight: 700;
  font-size: medium;


  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

}

#business-info ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

#business-info ul li {
  display: inline;
  text-align: center;
}

#business-info ul li span {
  text-decoration: none;
  padding: .2em 1em;
}

#business-info ul li span i {
  padding-right: 5px;
}

.disclosure {
  padding-top: 0px;
  font-size: 11px;
  color: #bcbcbc;
  text-align: center;
}

.moreInfo {
  font-size: 14px;
  text-align: center;
  background-color: Tan;
}

.moreInfoL {
  color: red;
  position: relative;
  float: left;
}

.moreInfoC {
  color: #f34235;
  position: relative;
  display: inline-block;
  margin: 0;
}

.moreInfoR {
  position: relative;
  float: right;
}
