<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
  <div class="panel coupon" id="areabox">
    <div class="panel-heading" id="head">

      <div class="panel-title" id="title">
          <img class="img-circle" ng-src='https://logo.clearbit.com/{{$ctrl.miniCoupons.domain}}' onerror=this.src="/assets/images/logonotfound.PNG" >
        <span class="hidden-xs">{{$ctrl.miniCoupons.subject}}</span>
      </div>
    </div>

    <div class="panel-body">
      <div class="col-md-12">
        <p class="disclosure">{{$ctrl.miniCoupons.snippet}}</p>
      </div>
    </div>

    <div class="panel-footer moreInfo">
      <span><a ng-click="$ctrl.saveCouponAsFavorite($ctrl.miniCoupons.id)" class="fa fa-heart fa-2x moreInfoL"></a></span>
      <span><a ng-click="$ctrl.CouponTrash($ctrl.miniCoupons.id)" class="fa fa-trash fa-2x moreInfoL"></a></span>
      <span class="moreInfoC">Received: {{$ctrl.miniCoupons.date}}</span>
      <span><button ng-click="$ctrl.showCoupon($ctrl.miniCoupons.id)" class="btn-link moreInfoR">Original</button></span>
    </div>
  </div>
</body>
</html>
