$icon-font-path: '/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';

// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Component styles are injected through gulp
/* inject:scss */
@import 'account/login/login';
@import 'admin/admin';
@import 'main/main';
@import '../components/company-coupons/company-coupons';
@import '../components/favorite-coupons/favorite-coupons';
@import '../components/footer/footer';
@import '../components/miniCoupon/miniCoupon';
@import '../components/modal/full-coupon-modal';
@import '../components/modal/modal';
@import '../components/myAccount/myAccount';
@import '../components/navbar/navbar';
@import '../components/new-coupons/new-coupons';
@import '../style_index';

/* endinject */
