body {
  background:darkseagreen;
}

/*----- Menu Outline -----*/
.menu-wrap {
  width:100%;
  box-shadow:0 1vw 3vw rgba(0,0,0,0.2);
  background:#3e3436;
}



.menu li {
  margin: 0;
  list-style:none;
  font-family:'Ek Mukta';
}

.menu a {
  transition:all linear 0.15s;
  color:#FFFFFF !important;
}

.menu li:hover > a, .menu .current-item > a {
  text-decoration:none;
  color: darkseagreen !important;
  background:#2e2728 !important;
}

.menu .arrow {
  font-size:1vw;
  line-height:0%;
  padding-left: 5px;
}

/*----- Top Level -----*/
.menu  ul  li {
  float: left;
  display:inline-block;
  position:relative;
  a {
    font-size: 2vw;
  }
}
.navbar-right {
  padding-right: 2vw !important;
}

.menu > ul > li > a {
  display:inline-block;
  text-shadow:0vw 1vw 0vw rgba(0,0,0,0.4);
}


/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
  z-index:1;
}

.sub-menu {
  width: 100%;
  position: absolute;
  transition: opacity linear 0.15s;
  box-shadow: 0vw 2vw 3vw rgba(0, 0, 0, 0.2);
  background: #2e2728;
}


.sub-menu li a {
  font-size: 1.8vw !important;
}

.font {
  font-family: 'Curlz MT';
  font-size: 3vw;
}

.img-circle{
  height: 2.1vw;
  width: 2.1vw;
}

li ul{
  display:none;
}

li:hover ul{
  display:block;
}
