<div class="navbar navbar-default navbar-static-top menu-wrap">
  <nav class="menu">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand font">MyCoupons</a>
    </div>
      <div uib-collapse="$ctrl.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav navbar-right">
          <li ng-show="$ctrl.isGoogleLoggedIn()"><a ui-sref="main" data-ui-sref-opts="{notify:true, reload:true}">Main</a></li>
          <li>
          <a href="#" ng-show="$ctrl.isGoogleLoggedIn()" style="padding-right: 2.5vw;">Coupons<span class="arrow">&#9660;</span></a>
          <ul class="sub-menu">
            <li class="btn-block" ng-show="$ctrl.isGoogleLoggedIn()"><a ui-sref="newCoupons">New</a></li>
            <li class="btn-block" ng-show="$ctrl.isGoogleLoggedIn()"><a ui-sref="companyCoupons">Companies</a></li>
          </ul>
          </li>
          <li><a ui-sref="">About</a></li>
          <li>
          <a href="#" ng-show="$ctrl.isGoogleLoggedIn()">{{$ctrl.showname()}} <img class="img-circle" ng-src={{$ctrl.getImage()}}>
            <span class="arrow">&#9660;</span></a>
          <ul class="sub-menu">
          <li ng-show="$ctrl.isGoogleLoggedIn()"><a ui-sref="signout">Signout</a></li>
          <li ng-show="$ctrl.isGoogleLoggedIn()"><a type="button"  am-latosans="bold"
          ui-sref="disconnect">Disconnect</a></li>
          </ul>
          </li>
        </ul>
      </div>
  </nav>
</div>
