@media screen and (max-device-width: 480px) {
  .format {
    display: inline-block;
    position: relative;
    width: 50% !important;
    margin-left: 0% !important;
    margin-right: 0% !important;
    margin-top: 5%;
  }
}
  body {
    background-color: PeachPuff;
  }

  #title {
    font-weight: bold;
  }
  .tileField2 {
    margin: 0px 0px 10px 0px;
  }
  #tiles {
    width: 30em;
    height: 30em;
    padding: 10px;
    text-align: center;
    border: 3px dashed #ccc;
    border-radius: 25px;
    margin: 0px 10px 10px 0px;
    overflow: hidden;
    background-color: Linen;
  }
  .format {
    display: inline-block;
    position: relative;
    margin: 0px 0px 0px 0px;
    width: 78%;
    margin-left: 12%;
    margin-right: 0%;
    margin-top: 5%;
  }
  .imageFormat {
    position: relative;
    max-width: 70%;
    max-height: 70%;
    margin: 5px 0px 5px 0px;
  }
  .descripFormat {
    overflow: hidden;
    height: 6em;
    margin: 0px 0px 0px 0px;
  }
