#accountCont {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 1vw;
}
.accountName {
  padding-top: 0px;
  padding-bottom: 3vw;
}
#accountImg {
  width: 10vw;
  height: 10vw;
}
.accountText {
  font-family: "Arial Black";
  font-size: 1vw;
  padding-top: 3vw;
}
.acountHolder {
  width: 70%;
  align-items: center;
  background-color: white;
}
.acountHolder .row {
  display: inline-block;
  position: relative;
}
